#search-go {
  padding-bottom: 3px;
  height: 34px; }

.navbar-item {
  font-size: 14px; }

.navbar-spacing {
  padding-left: 20px; }

.action-table {
  table-layout: fixed;
  width: auto; }

.table-success {
  min-width: 250px;
  max-width: 250px; }

.table-due {
  min-width: 100px;
  max-width: 100px;
  font-weight: normal; }

.table-owner {
  min-width: 150px;
  max-width: 150px; }

.table-lead, .table-collaborators {
  min-width: 160px;
  max-width: 160px; }

.table-status {
  min-width: 100px;
  max-width: 100px; }

.table-task {
  width: 100%; }

html, body {
  height: 100%; }

.non-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em; }

.footer, .push {
  height: 3em; }

.footer {
  bottom: 0;
  width: 100%;
  height: 47px; }

.layout-navbar {
  height: 90px;
  background: white;
  width: 100%;
  nav-left: auto; }

.navbar-brand {
  width: 190px;
  height: 70px; }

.navbar-listing {
  padding-top: 33px; }

#footer-list {
  float: right; }
  #footer-list li {
    padding-left: 10px;
    padding-right: 10px; }

.dashboard-panel {
  width: 625px;
  padding: 5px 5px; }
  .dashboard-panel .panel {
    margin: 0; }
  .dashboard-panel .list-group-item {
    padding: 5px; }
  .dashboard-panel .panel-body {
    padding: 7px; }

.dashboard-row {
  width: 1300px;
  margin: 0 auto; }

* {
  font-size: 18px; }

.filter {
  padding-bottom: 10px;
  text-align: center; }
  .filter .panel {
    margin: auto;
    display: inline-block; }
  .filter .panel-body {
    margin: auto; }
  .filter .acttskbutton {
    width: 74px; }

.dropdown-toggle {
  width: 148px; }

td .filter-table .item {
  min-width: 150px;
  max-width: 150px; }

th .filter-table .item {
  min-width: 150px;
  max-width: 150px; }

a .filter {
  background: #009FD7; }

.panel-heading .panel-primary {
  background: #009FD7; }

#sort-panel-title {
  font-size: 60%; }

#sort-container {
  width: 80%;
  text-align: center; }

/*# Dialog box styling*/
.ui-widget.success-dialog {
  font-family: Verdana,Arial,sans-serif; }

.ui-widget-content.success-dialog {
  background: #F9F9F9;
  border: 1px solid #009FD7;
  color: #222222; }

.ui-dialog.success-dialog {
  left: 0;
  outline: 0 none;
  padding: 0 !important;
  position: absolute;
  top: 0; }

.ui-dialog.success-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 0 !important;
  margin: 0; }

.ui-dialog.success-dialog .ui-widget-header {
  background: #009FD7;
  border: 0;
  color: #fff;
  font-weight: normal; }

.ui-dialog.success-dialog .ui-dialog-titlebar {
  padding: 0.1em .5em;
  position: relative; }

.ui-table-id {
  font-size: 13px; }

.ui-table-body {
  font-size: 13px; }

.ui-table-owner {
  font-size: 13px;
  min-width: 100px;
  max-width: 100px; }

.ui-table-lead {
  font-size: 13px;
  min-width: 120px;
  max-width: 120px; }

.ui-table-due {
  font-size: 13px;
  min-width: 90px;
  max-width: 90px; }

.ui-table-status {
  font-size: 13px;
  min-width: 100px;
  max-width: 100px; }

/*# Dashboard styling*/
.ul-fontSize {
  font-size: 14px; }

.search-bar {
  position: relative;
  top: 8px;
  max-width: 400px; }

.link-color {
  background: #3D80BA; }

.table-fontSize {
  font-size: 60%; }

.background-blue {
  background: #009FD7; }

.background-blue-float {
  background: #009FD7;
  float: right; }

.link-color {
  color: #3D80BA; }

.table-fontSize {
  font-size: 60%; }

.background-blue {
  background: #009FD7; }

.background-blue-float {
  background: #009FD7;
  float: right; }

.overflow-y-height {
  height: 200px;
  overflow-y: scroll; }

.bs-example {
  padding-left: 20px;
  padding-right: 20px; }

.options-panel {
  display: inline-block;
  position: fixed;
  top: 110px; }
  .options-panel .options-panel-div {
    padding: 6px; }
  .options-panel .options-panel-head {
    background: #009FD7; }

.btn-primary {
  background: #009FD7; }

.plan-content-panel, .sort-panel {
  padding-left: 178px;
  padding-right: 15px; }
  .plan-content-panel .panel-body, .sort-panel .panel-body {
    padding: 7px; }

.active-navbar-element {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 10px 10px 0 0; }

#more-button {
  position: relative;
  top: -4px; }

.small-panel-body {
  padding: 7px; }

#save-button {
  float: right; }

#page-break {
  padding-top: 30px; }

.note-entry {
  resize: none; }

#bp-count {
  float: right; }

/*# mywork styling*/
.mw-table-id {
  font-size: 16px; }

.mw-table-body {
  font-size: 16px; }

.mw-table-owner {
  font-size: 16px;
  min-width: 100px;
  max-width: 100px; }

.mw-table-lead {
  font-size: 16px;
  min-width: 120px;
  max-width: 120px; }

.mw-table-collab {
  font-size: 16px;
  min-width: 120px;
  max-width: 120px; }

.mw-table-due {
  font-size: 16px;
  min-width: 105px;
  max-width: 105px; }

.mw-table-status {
  font-size: 16px;
  min-width: 100px;
  max-width: 100px; }

.mw-div-one {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  float: left; }

.mw-div-two {
  margin-left: 20%;
  margin-right: 10px;
  height: 200px;
  padding-left: 150px; }

.mw-section {
  width: 80%;
  height: 200px;
  padding: 10px; }

.mw-btn {
  float: right;
  clear: right; }

.mw-header-fix {
  padding-top: 7.5px; }

/*# Create Plan styling */
.pb-label {
  font-size: 14pt;
  float: left;
  clear: left; }

.pb-btn {
  position: relative;
  float: left;
  clear: left; }

.pb-submit-btn {
  position: relative;
  left: 10px; }

.pb-arrow-btn {
  float: left; }

.pb-display {
  display: none; }

.pb-step {
  padding-left: 30px;
  padding-top: 15px;
  float: left;
  clear: left; }

.pb-inner-step {
  padding-left: 40px;
  float: left;
  clear: left; }

.pb-text {
  resize: none;
  float: left;
  clear: none; }

.pb-table-date {
  min-width: 125px;
  max-width: 125px; }

.pb-table-owner {
  min-width: 70px;
  max-width: 70px; }

.pb-table-lead {
  min-width: 155px;
  max-width: 155px; }

.pb-table-collab {
  min-width: 155px;
  max-width: 155px; }

.pb-table-status {
  min-width: 85px;
  max-width: 85px; }

.pb-table-success {
  min-width: 185px;
  max-width: 185px; }

.pb-table-input {
  width: 160px; }

.pb-table-select {
  width: 80px; }

.pb-table-select-lead {
  width: 200px; }

.pb-table-select-collab {
  width: 200px; }

.pb-table-select-status {
  width: 105px; }

.pb-table-text {
  width: 240px; }

.pb-panel {
  background: #009FD7; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes backwards {
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(360deg); } }

.prof {
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  width: 150px;
  height: 200px; }

.video-spin {
  -webkit-animation-name: backwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

#edit {
  link-color: #337ab7; }

#task-description a {
  color: #337ab7; }

#task-description a:hover {
  text-decoration: underline;
  cursor: hand; }

#action-description a {
  color: #337ab7; }

#action-description a:hover {
  text-decoration: underline;
  cursor: hand; }

a.editable-click.editable-disabled,
.editable-click.editable-disabled
{
  color: #337ab7;
  cursor: hand;
}

/*# sourceMappingURL=app.css.map */
