// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.task-table .action-table {
  table-layout: fixed;
}

.task-table-task {
  width: 75%;
}

.task-table-due {
  width: 60px;
}

.task-table-owner {
  width: 60px;
}

.task-table-lead {
  width: 75px;
}

.task-table-status {
  width: 60px;
}

.action-table-content {
  width: 20%;
}

#footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 43px;
}

#footer-list {
  width: 40%;
  position: fixed;
  right: 0;

  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
