// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-item{
  font-size: 14px;
}

.navbar-spacing{
  padding-left: 20px;
}

.action-table {
  table-layout: fixed;
  width: auto;
}

.table-success {
  min-width: 250px;
  max-width: 250px;
}

.table-due {
  min-width: 100px;
  max-width: 100px;
  font-weight: normal;
}

.table-owner {
  min-width: 150px;
  max-width: 150px;
}

.table-lead, .table-collaborators {
  min-width: 160px;
  max-width: 160px;
}

.table-status {
  min-width: 100px;
  max-width: 100px;
}

.table-task {
  width: 100%;
}

html, body {
  height: 100%;
}

.non-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.footer, .push {
  height: 3em;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 47px;
}

.layout-navbar {
  height: 90px;
  background: white;
  width: 100%;
  nav-left: auto;
}

.navbar-brand {
  width:190px;
  height:70px;
}

.navbar-listing {
  padding-top: 33px;
}

#footer-list {
  float: right;
  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.dashboard-panel {
  width: 625px;
  padding: 5px 5px;
  .panel {
    margin: 0;
  }
  .list-group-item {
    padding: 5px;
  }
  .panel-body {
     padding: 7px;
   }
}

.dashboard-row {
  width: 1300px;
  margin: 0 auto;
}

* {
  font-size: 18px;
}

.filter {
  padding-bottom: 10px;
  text-align: center;

  .panel {
    margin: auto;
    display: inline-block;
  }

  .panel-body {
    margin: auto;
  }

  .acttskbutton {
    width: 74px;
  }
}

.dropdown-toggle {
  width: 148px;
}

td {
  .filter-table {
    .item {
      min-width: 150px;
      max-width: 150px;
    }
  }
}

th {
  .filter-table {
    .item {
      min-width: 150px;
      max-width: 150px;
    }
  }
}

a {
  .filter {
    background: #009FD7;
  }
}

.panel-heading .panel-primary {
  background: #009FD7;
}

#sort-panel-title {
  font-size: 60%;
}

#sort-container {
  width: 80%;
  text-align: center;
}

/*# Dialog box styling*/

.ui-widget.success-dialog {
  font-family: Verdana,Arial,sans-serif;
}

.ui-widget-content.success-dialog {
  background: #F9F9F9;
  border: 1px solid #009FD7;;
  color: #222222;
}

.ui-dialog.success-dialog {
  left: 0;
  outline: 0 none;
  padding: 0 !important;
  position: absolute;
  top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 0 !important;
  margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
  background: #009FD7;;
  border: 0;
  color: #fff;
  font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
  padding: 0.1em .5em;
  position: relative;

}

.ui-table-id {
  font-size: 13px;
}

.ui-table-body {
  font-size: 13px;
}

.ui-table-owner {
  font-size: 13px;
  min-width: 100px;
  max-width: 100px;
}

.ui-table-lead {
  font-size: 13px;
  min-width: 120px;
  max-width: 120px;
}

.ui-table-due {
  font-size: 13px;
  min-width: 90px;
  max-width: 90px;
}

.ui-table-status {
  font-size: 13px;
  min-width: 100px;
  max-width: 100px;
}



/*# Dashboard styling*/

.ul-fontSize {
  font-size: 14px;
}

.search-bar {
  position: relative;
  top: 8px;
  max-width: 400px;
}

.link-color {
  background: #3D80BA;
}

.table-fontSize{
  font-size: 60%;
}

.background-blue {
  background: #009FD7;
}

.background-blue-float{
  background: #009FD7;
  float: right;
}

.link-color {
  color: #3D80BA;
}

.table-fontSize{
  font-size: 60%;
}

.background-blue {
  background: #009FD7;
}

.background-blue-float{
  background: #009FD7;
  float: right;
}

.overflow-y-height{
  height: 200px;
  overflow-y: scroll;
}

.bs-example {
  padding-left: 20px;
  padding-right: 20px;
}

.options-panel {
  display: inline-block;
  position: fixed;
  top: 110px;
  .options-panel-div {
    padding: 6px;
  }
  .options-panel-head {
    background: #009FD7;
  }
}

.btn-primary {
  background: #009FD7;
}

.plan-content-panel, .sort-panel {
  padding-left: 178px;
  padding-right: 15px;
}

.active-navbar-element {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 10px 10px 0 0;
}

#more-button {
  position: relative;
  top: -4px;
}
