// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.task-table .action-table {
  table-layout: fixed;
}

.task-table-due {
  min-width: 80px;
  max-width: 80px;
}

.task-table-owner {
  min-width: 55px;
  max-width: 55px;
}

.task-table-lead {
  min-width: 100px;
  max-width: 100px;
}

.task-table-status {
  min-width: 75px;
  max-width: 75px;
}

.task-table-task {
  max-width: 100%;
}

.action-table-content {
  width: 16.7%;
}

html, body {
  height: 100%;
}

.non-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.footer, .push {
  height: 3em;
}

#footer-list {
  float: right;
  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
